<a href="https://colab.research.google.com/github/MacFernand/Python/blob/master/Aula_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Montando o driver

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Tabela de dados

In [0]:
%load_ext google.colab.data_table

In [0]:
from google.colab import data_table

Importando Bibliotecas

In [0]:
import pandas as pd
import random as rd
import numpy  as np

Importando banco de dados

In [0]:
df_promo = pd.read_csv('/content/sample_data/CAR.csv', sep=';')

In [0]:
df_ = pd.read_csv('/content/drive/My Drive/Projetos/Promofarma/Base/FUNCIONA.txt', sep='\t')

In [0]:
df_ban = pd.read_csv('/content/drive/My Drive/Projetos/Bras/BANCOS.txt', sep=';')

In [0]:
df_func = pd.read_csv('/content/drive/My Drive/Projetos/Bras/FUNCIONA.txt', sep=';')

Manipulando dados

In [0]:
df_promo

In [0]:
df_.head(5)

In [0]:
df_ban

In [0]:
df_func

In [50]:
type(df_func)

pandas.core.frame.DataFrame

In [0]:
# Show last few rows
list(df_func)

In [53]:
# Data type of each column
df_func.tail

<bound method NDFrame.tail of      FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
0         202          1  ...                            0                NaN
1         202          2  ...                            0                NaN
2         202          3  ...                            0                NaN
3         202          4  ...                            0                NaN
4         202          5  ...                            0                NaN
..        ...        ...  ...                          ...                ...
127       202    3193717  ...                            0                NaN
128       203          1  ...                            0                NaN
129       203          2  ...                            0                NaN
130       203          3  ...                            0                NaN
131       203          4  ...                            0                NaN

[132 rows x 208 columns]>

In [54]:
# Return number of columns and rows of dataframe
df_func.shape

(132, 208)

In [55]:
#  Number of rows
len(df_func.index)

132

In [56]:
# Number of columns

len(df_func.columns)

208

In [61]:
# Basic statistics
df_func.describe()

         FUCODEMP  ...  FUMATRICULAESOCIAL
count  132.000000  ...                 0.0
mean   202.030303  ...                 NaN
std      0.172073  ...                 NaN
min    202.000000  ...                 NaN
25%    202.000000  ...                 NaN
50%    202.000000  ...                 NaN
75%    202.000000  ...                 NaN
max    203.000000  ...                 NaN

[8 rows x 159 columns]

In [65]:
# Extract first three rows

df_func[0:3]

   # or
    
df_func.iloc[:3]

   FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
0       202          1  ...                            0                NaN
1       202          2  ...                            0                NaN
2       202          3  ...                            0                NaN

[3 rows x 208 columns]

In [0]:
# Filter for black hair

df_func[df_func['FUCBO']=="411010"]

     # or
    
df_func.query("FUCBO =='411010'")

In [0]:
# Filter for males who have black hair

df_func[(df_func['FUCODSITU']=="48")  & (df_func["FUSEXFUNC"]=="M")]

   # or

df_func.query("FUCODSITU == '48' & FUSEXFUNC =='M'")

In [0]:
# Filter for those who have brown eye or black hair

z = df_func[(df_func['FUCODSITU']=="48") | (df_func["FUBAIRRO"]=="MEIER")]

   # or
z = df_func.query("FUCODSITU == '48' | FUBAIRRO =='MEIER'")

z.head(6)

In [0]:
# Filter for eye color of blue, hazel and green

df_func[df_func.Eye.isin(['MEIER','ENGENHO NOVO','BENFICA'])].head()

In [81]:
# Select one column
df_func[["FUBAIRRO"]].head()

    # or

df_func.FUBAIRRO.head()

0            MEIER
1     ENGENHO NOVO
2          BENFICA
3           LEBLON
4    SAO CRISTOVAO
Name: FUBAIRRO, dtype: object

In [84]:
# Select two columns

df_func[["FUCODSITU","FUSEXFUNC"]].head()

   FUCODSITU FUSEXFUNC
0         48         F
1         48         M
2         48         F
3         49         F
4         48         M

In [85]:
# Unique Eye colors

df_func["FUBAIRRO"].unique()

array(['MEIER', 'ENGENHO NOVO', 'BENFICA', 'LEBLON', 'SAO CRISTOVAO',
       'IRAJA', 'FONSECA', 'MESQUITA', 'BARRA DA TIJUCA', 'TIJUCA',
       'VILA ISABEL', 'HIGIENOPOLIS', 'ANDRADE ARAUJO', 'JACAREPAGUA',
       'FREGUESIA / JACAREPAGUA', 'JABOUR', 'BOTAFOGO', 'JARDIM BOTANICO',
       'BENTO RIBEIRO', 'ANIL', 'CAMPO GRANDE', 'SARGENTO RONCALLI',
       'ROCHA MIRANDA', 'RICARDO DE ALBUQUERQ', 'TOMAS COELHO',
       'COPACABANA', 'FLAMENGO', 'CAMPOS ELISEOS', 'ANIL - JACAREPAGUA',
       'RAMOS', 'PARADA QUARENTA', 'JARDIM ESPLANADA', 'BELA VISTA',
       'FREGUESIA/JACAREPAGUA', 'FREGUESIA JACAREPAGU', 'ITAIPU',
       'CACHAMBI', 'VILA DA PENHA', 'ABOLIÇÃO', 'ICARAI', 'CENTRO',
       'GRAJAU', 'RIO COMPRIDO', 'CIDADE DE DEUS', 'MUTONDO', 'RIACHUELO',
       'BONSUCESSO', 'NILÓPOLIS', 'PECHINCHA', 'BANGU', 'CORDOVIL',
       'LARANJEIRAS', 'IPANEMA', 'INGA', 'IRAJÁ',
       'RECREIO DOS BANDEIRANTES', 'GAVEA', 'OSWALDO CRUZ', 'OLARIA',
       'ANDARAI', 'CATETE', 'FRAGOSO', 'EDSON PASSOS', 'SANTA ROSA',
       'LINS DE VASCONCELOS', nan], dtype=object)

In [92]:
# Maximum of the "Freq" column

df_func.FUCODSITU.max()

58

In [93]:
# Call functions on multiple columns 

import numpy as np

pd.DataFrame({'Max_freq': [df_func.FUCODSITU.max()], \
             'Min_freq': [df_func.FUCODSITU.min()],\
             'Std_freq': [np.std(df_func.FUCODSITU)]})

   Max_freq  Min_freq   Std_freq
0        58         1  12.711995

In [94]:
# Maximum Frequency by Sex

df_func.groupby("FUSEXFUNC").agg({"FUCODSITU":"max"})

           FUCODSITU
FUSEXFUNC
                   2
F                 49
M                 58

In [0]:
# Count by Bairro Sexo and Sexo

df_func.groupby(["FUBAIRRO","FUSEXFUNC"]).agg({"FUCODSITU":"count"}).rename(columns={"FUCODSITU":"Count"}).head(50)

In [100]:
# Call functions for grouping

df_func.assign(FUSEXFUNC = (df_func.FUCODSITU > 50)).groupby("FUSEXFUNC").agg({"FUSEXFUNC":"count"})\
.rename(columns ={"FUSEXFUNC":"Count"})

           Count
FUSEXFUNC
False        130
True           2

In [105]:
# Return the first occurance

df_func.query("FUBAIRRO == 'MEIER'")[:1]

   FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
0       202          1  ...                            0                NaN

[1 rows x 208 columns]

In [106]:
# Return the last occurance

df_func.query("FUBAIRRO == 'MEIER'")[-1:]

     FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
115       202    3193705  ...                            0                NaN

[1 rows x 208 columns]

In [107]:
# Return a count

df_func[df_func.FUBAIRRO.isin(['MEIER','IPANEMA']) & (df_func.FUSEXFUNC=="M")].shape[0]

4

In [109]:
# Count for each group

df_func[df_func.FUBAIRRO.isin(['MEIER','IPANEMA']) & (df_func.FUSEXFUNC=="M")].\
groupby(["FUBAIRRO","FUSEXFUNC"]).agg({"FUCODSITU":"count"}).rename(columns={"FUCODSITU":"Count"})

                    Count
FUBAIRRO FUSEXFUNC
IPANEMA  M              1
MEIER    M              3

In [110]:
# Order in ascending order

df_func.sort_values(by='FUCODSITU').tail(6)

     FUCODEMP  FUMATFUNC  ... FUTIPOINSCEMPREGADORSUCESSAO FUMATRICULAESOCIAL
2         202          3  ...                            0                NaN
1         202          2  ...                            0                NaN
7         202          8  ...                            0                NaN
3         202          4  ...                            0                NaN
109       202    3193699  ...                            0                NaN
123       202    3193713  ...                            0                NaN

[6 rows x 208 columns]